.flex-all-center
{
    display: flex;
    background-color: #2874f0;
    color: white;
    justify-content: center;
    align-items: center;
}

.btn
{
    display: flex;
    background-color: white;
    padding: 2px 6px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

